:root {
    --primary: #b6895b;
    --bg: black;
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #ffff;
    min-height: 20000px;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background: black;
    border-bottom: 1px solid #654c33;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #ffff;
}
.navbar .navbar-logo span {
    color: #654c33;

}
.navbar .navbar-nav a{
    color: #ffff;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
}
.navbar .navbar-nav a:hover{
    color: #654c33;
}
.navbar .navbar-extra a{
    color: white;
    margin: 0.6rem;
}
.navbar .navbar-extra a:hover{
    color: #b6895b;
}
#menu {
    display: none;
}

.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('meggyn-pomerleau-hAYy2mFLjS8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero::after{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg,black 8%,rgba(255,255,255,0)25%);
}
.hero .content{
    padding: 1.4rem 7%;
    max-width: 60rem;
}
.hero .content h1 {
    font-size: 4em ;
    color: #ffffff;
    text-shadow: 6px 6px 9px rgba(1,1,3,0.5);
    line-height: 1;
}


.hero .content p{
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 6px 6px 9px rgba(1,1,3,0.5);


}
.hero .content .cta{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #ffff;
    background-color: #654c33;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}
.about {
    padding: 7rem 7% 1.4rem;

}
.about h2{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom:1.6rem ;
}
.about h2 span{
    display: inline-block;
    background-color: #654c33;
}
.row .content{
    padding: 1.6rem 20%;

}
.row .content h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.3rem;
}
.row .content h3 span{
    color: #654c33;
}
.row .content p{
    text-align: center;
    font-size: 1.4rem;
    font-weight: -150;
    line-height: 1.6rem;
    margin-bottom: 1rem;
}
.row .content p span{
    color: #654c33;
}
.row .boxgambar{
    display: flex;
    padding-left: 20%;
    padding-right: 25%;
    justify-content: space-between;
    ;
    
}
.row .boxgambar .j1{
    
}
.row .boxgambar .j2{
    

}
.product {
    padding: 7rem 7% 1.4rem;
}
.product h2{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom:3rem ;
}
.product h2 span{
    display: inline-block ;
    background-color: #654c33;
    
}
.product .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.product .row .menu-card {
    text-align: center;

}
.product .row .menu-card img{
    border-radius: 50%;
    width: 40%;
}

.product .row .menu-card .menu-card-title{
    margin-top: 1.5rem;

}
.product .row .menu-card .menu-card-price{
    margin: 1rem auto 0.5rem;
}
.contact {
    padding: 7rem 7% 1.4rem;
}

.contact h2{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom:3rem ;
}
.contact h2 span{
    display: inline-block ;
    background-color: #654c33;
}
/* Media Queries */
